Event_Volunteer_Management/unpackaged/flows/Trigger_When_Event_Planned.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>This Flow is Triggered when Event is Planned</description>
    <environments>Default</environments>
    <interviewLabel>Trigger_When_Event_Planned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger_When_Event_Planned</label>
    <loops>
        <description>Among all volunteers match the skills</description>
        <name>Loop_through_Volunteers</name>
        <label>Loop through Volunteers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Matching_Volunteers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>to assign event to volunteer</description>
        <name>create_assignment</name>
        <label>create assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_Volunteers</targetReference>
        </connector>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Worked__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>Loop_through_Volunteers.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>To Get Volunteers matching event skills</description>
        <name>Get_Matching_Volunteers</name>
        <label>Get_Matching_Volunteers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Volunteers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Avialability__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Weekends</stringValue>
            </value>
        </filters>
        <filters>
            <field>Volunteer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_Volunteers</targetReference>
        </connector>
        <object>Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
